<?xml version="1.0"?>



<robot xmlns:xacro="http://wiki.ros.org/xacro" name="panda">
  

  
  <xacro:arg name="cell_layout_1" default="false"/>
  <xacro:property name="cell_layout_1" value="$(arg cell_layout_1)"/>
  <xacro:arg name="cell_layout_2" default="false"/>
  <xacro:property name="cell_layout_2" value="$(arg cell_layout_2)"/>
  
  
  <xacro:arg name="EE_no" default="false"/>
  <xacro:property name="EE_no" value="$(arg EE_no)"/>


  
  <xacro:include filename="$(find franka_env)/urdf/panda_macro.urdf.xacro"/>	
  <xacro:panda 
    prefix=""
    EE_no="${EE_no}"
  />

  
  <link name="world"/>

  
  

  
  <xacro:if value="${cell_layout_1}">
    <joint name="world-base_link-fixed" type="fixed">
      <parent link="world"/>
      <child link="panda_link0"/>
    </joint>
  </xacro:if>

  
  <xacro:if value="${cell_layout_2}">
    <link name='panda_base'>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="100"/>
        <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
      </inertial>
      <collision name='collision'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/> 
        <geometry>
          <box size = "0.2 0.2 1.0"/>
        </geometry>
      </collision>
      <visual name='chassis_visual'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/>
        <geometry>
          <box size = "0.2 0.2 1.0"/>
        </geometry>
        <material name="red">
          <color rgba="1 0 0 1"/>
        </material>
      </visual>
    </link>
    <gazebo reference="panda_base">
      <material>Gazebo/Red</material>
    </gazebo>

    <joint name="world_joint" type="fixed">
      <parent link="world" />
      <child link = "panda_base" />
      <origin xyz="0.0 0.0 0.5" rpy="0.0 0.0 0.0" />
    </joint>
    <joint name="panda_joint" type="fixed">
      <parent link="panda_base" />
      <child link = "panda_link0" />
      <origin xyz="0.0 0.0 0.5" rpy="0.0 0.0 0.0" /> 
    </joint>

    
    <xacro:include filename="$(find realsense_ros_gazebo)/xacro/depthcam.xacro"/>

    <xacro:realsense_d435 sensor_name="d435" parent_link="end_effector_frame" rate="10">
      <origin rpy="0 0 0 " xyz="-0.075 0.0 0.030"/>
    </xacro:realsense_d435>

    
    <link name="gripper_attach_link">
      <inertial>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <mass value="0.00001" />
          <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
      </inertial>
      <visual>
          <geometry>
          <box size= "0.001 0.001 0.001" />
          </geometry>
      </visual>
    </link>

    <joint name="gripper_attach_joint" type="prismatic" >
      <parent link="end_effector_frame" />
      <child link="gripper_attach_link" />
      <limit effort="10000" lower="0.0" upper="0.0" velocity="0.0"/>
      <axis xyz="1 0 0" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  
  </xacro:if>

</robot>
